.title{
	background-color:#fdf5e6;
	border-style:solid;
	border-width: 1px;
	margin-top:5px;
	height: 25px; 
}

.bodyForm{
	/*margin-left:20px;*/
	margin-top:5px;
	padding-left:150px;
	border-width: 1px;
	border-style: solid;
	text-align: left;
	background-color: #fdf5e6;
	height: 400px;
}

.backcolor{
	background-color: #e6e6fa;
	background: #e6e6fa;
}

