.DMTitle{
	 width: 200px;
	 background-image: url(../img/itle.jpg); 
	 color: black; 
	 font-size: 20px; 
	 font-family: Arail;
}

.label , .content {
	width: 200px;
}

.label {
	background: #0000ff;
	height: 20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: white;
}

.content {
	background: #87ceff;
	border-top: 1px solid #eeeeee;	/* w/out this, an <h1> on the top line causes a gap between the .content and .label */
	text-align: justify;
}